version: 1
data:
  type: sql
  source:
    type: hikari_cp
    properties:
      jdbcUrl: Your JDBC url here, don't forget to add testRuntimeOnly dependencies.
      username: "${username}"
      password: "${password}"
  tables:
    prefix: test_
    names: {}